@import "apex_variables";
@import "mixins";
@import "./components/page";
@import "./components/header";
@import "./components/footer";
@import "./components/buttons";
@import "./components/navigation";
@import "./components/sidebar";
@import "./components/search";
@import "./components/callouts";
@import "./components/code";
@import "./components/images";
@import "./components/tables";
@import "./components/mermaid";
@import "./components/sub-menu";
@import "./components/hamburger";
@import "./components/grid";
@import "./components/headings";
@import "./components/references";
@import "./components/listings";

/*-- scss:rules --*/

/* esanotes-regular - latin-ext_latin */
@font-face {
  font-family: "NotesEsa";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./assets/fonts/NotesEsa.woff2") format("woff2"),
    url("./assets/fonts/NotesEsa.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "NotesEsa";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("./assets/fonts/NotesEsa-Italic.woff2") format("woff2"),
    url("./assets/fonts/NotesEsa-Italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "NotesEsa";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./assets/fonts/NotesEsa-Bold.woff2") format("woff2"),
    url("./assets/fonts/NotesEsa-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "NotesEsa";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url("./assets/fonts/NotesEsa-BoldItalic.woff2") format("woff2"),
    url("./assets/fonts/NotesEsa-BoldItalic.woff") format("woff");
  font-display: swap;
}
