h1,
h2,
h3,
h4,
h5 {
  font-weight: 400 !important;
  line-height: 1.2 !important;
  opacity: 1.0 !important;
}

h1 {
  font-size: var(--text-2xl) !important;

  @include media-breakpoint-up(sm) {
    font-size: var(--text-3xl)  !important;;
  }

  @include media-breakpoint-up(xl) {
    font-size: var(--text-4xl)  !important;;
  }
}

h2 {
  font-size: var(--text-lg)  !important;

  @include media-breakpoint-up(sm) {
    font-size: var(--text-xl) !important;
  }

  @include media-breakpoint-up(lg) {
    font-size: var(--text-2xl) !important;
  }
}

h3 {
  font-size: var(--text-lg) !important;

  @include media-breakpoint-up(sm) {
    font-size: var(--text-xl) !important;
  }

  @include media-breakpoint-up(lg) {
    font-size: var(--text-2xl) !important;
  }
}

h4 {
  font-size: 1.125rem !important;

  @include media-breakpoint-up(sm) {
    font-size: var(--text-lg) !important;
  }

  @include media-breakpoint-up(lg) {
    font-size: var(--text-xl) !important;
  }
}

h5 {
  font-size: 1rem !important;

  @include media-breakpoint-up(sm) {
    font-size: 1.125rem !important;
  }

  @include media-breakpoint-up(lg) {
    font-size: var(--text-lg) !important;
  }
}
